<div *ngIf="(weatherForecast$ | async) as weatherForecast" class="w-full">
  <div class="mx-auto w-full mb-2 text-white font-bold">
    <div class="px-6 py-4">
      <div class="text-xl text-center">{{weatherForecast.data.currentWeather.name}}</div>
      <div class="text-4xl text-center">{{weatherForecast.data.currentWeather.actualTemperature | number:'1.0-0'}}℉
      </div>
      <div class="text-md text-center">{{weatherForecast.data.currentWeather.description | titlecase}}</div>
      <div class="text-md text-center">
        <span>H: {{weatherForecast.data.currentWeather.highTemperature | number:'1.0-0'}}℉</span>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <span>L: {{weatherForecast.data.currentWeather.lowTemperature | number:'1.0-0'}}℉</span>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
    <app-card title="Forecast" class="col-span-1 sm:col-span-2 md:col-span-4">
      <div class="flex gap-2 overflow-auto">
        <div *ngFor="let forecastItem of weatherForecast.data.forecast" class="flex-none">
          <div class="font-bold text-center">{{forecastItem.timestamp | date:'h aaa'}}</div>
          <img class="mx-auto" style="height: 60px; width: 60px;" [src]="forecastItem.iconUrl"
            [alt]="forecastItem.description">
          <div class="text-center">{{forecastItem.actualTemperature | number:'1.0-0'}}℉</div>
        </div>
      </div>
    </app-card>
    <app-card title="Wind">
      <div class="flex gap-4 overflow-auto">
        <div class="text-center">{{weatherForecast.data.currentWeather.wind.speed | number:'1.0-0'}} mph</div>
      </div>
    </app-card>
    <app-card title="Feels Like">
      <div class="flex gap-4 overflow-auto">
        <div class="text-center">{{weatherForecast.data.currentWeather.feelsLikeTemperature | number:'1.0-0'}}℉</div>
      </div>
    </app-card>
    <app-card title="Humidity">
      <div class="flex gap-4 overflow-auto">
        <div class="text-center">{{weatherForecast.data.currentWeather.humidity | number:'1.0-0'}}%</div>
      </div>
    </app-card>
    <app-card title="Pressure">
      <div class="flex gap-4 overflow-auto">
        <div class="text-center">{{weatherForecast.data.currentWeather.pressure | number:'1.0-0'}} hPa</div>
      </div>
    </app-card>
  </div>
</div>